<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GRBLLBLBLBL</title>
</head>
<body>
    <form action="/contact" method="POST">
    <label for="name">name</label>
    <input type="text" name="name" id="">
    <input type="text" name="first_name" id="">
    <input type="text" name="mail" id="">
    <input type="text" name="mage" id="">
    <input type="text" name="sorcier" id="">
    <button type="submit">BOUTON</button>
</form>
</body>
</html>